---
title: Tata Enterprise
nav: home
subnav:
description: Main home page
---

<div class="jumbotron text-center">
  <div class="container">
      <%= link_to_if(!current?("home"),image_tag("assets/nname.png", :class => 'logo'), "/") %>
      <h1><%= data.company.name %></h1>
  </div>
</div>

<div class="container">
  <p></p>

  <div class="row">
    <% data.capabilities.each do |f| %>
      <div class="col-md-4">
          <h4><%= f.toplevel %></h4>
          <p><%= f.description %></p>
          <p><a href="<%= f.slug %>" class="btn btn-default">Read More</a></p>
      </div>
    <% end %>
  </div>
</div>
